.system_messages{
	position:fixed;
	top:0px;
	right:50px;
  left:50px;
	top:10px;
	z-index:1000;
  .alert_messages{

    position: relative;
    max-width: 600px;
    margin: 0 auto;

    .alert{
      padding: 8px;
    }
  }

}