.panel-group{
  margin-top:20px;
  .panel-default{
    border:none;
  }
}

.chart-containers{
  .chart-container{
    width: 49%;
    display: inline-block;
    padding: 10px;
    .chart-title{
      margin-top:20px;
      padding-bottom:5px;
      text-align: center;
      padding-left:20px;
      font-size: 14px;
      font-weight: bold;
      line-height: 20px;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
      text-transform: uppercase;
      border-bottom: 1px solid #ddd;
    }
    .chart{
      
    }
  }
}