.new_instance{

}

.new_instance .new_instance_config{
	
	float:left;
	width:350px;
	overflow:auto;
	padding:5px;
	max-height:400px;
}

.new_instance .new_instance_detail{
	float:right;
	width:280px;
	border-left:1px solid #eeeeee;
	padding-left: 8px;
}

.new_instance .new_instance_detail td{
	word-wrap:break-word;
	word-break:break-all;
}

.instance-basic-form{
  float: right;
  width: 55%;
}

.instance-basic-interview {
  float: left;
  width: 40%;
  padding: 0px 20px;
  margin-top: 25px;
  .screen{
    border:5px #DDDDDD solid;
    border-radius: 5px;
    color:rgb(40, 194, 40);
    background-color: #001423;
    height: 240px;
    padding: 10px;
  }
}