$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';
@import 'table';
@import 'button';
@import 'form';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.left{
    float:left;
}

.right{
    float:right;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    color: rgb(85, 85, 85);
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid #e5e5e5;
    -webkit-transform: translateZ(0);
    left: 0px;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #fff;
    z-index: 1000;
    height:40px;
    padding: 0px 0px;
}

.header .header-container{
    height:40px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding: 0px 7px;
    background-color: #E6331A;
    color: #fff;
    display: inline-block;
    cursor: pointer;
}

.header h3 a{
    color: #fff;
}

.header .break-btn {
    -webkit-transition: margin-left .15s linear;
    transition: margin-left .15s linear;
    -webkit-user-select: none;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    margin: 7px 0 7px 30px;
    padding: 5px 5px 5px 8px;
    display: inline-block;
    font-weight:normal;
    line-height: 15px;
    cursor: pointer;
}

.header .break-btn .text{
    color: rgb(115, 115, 115);
    display: inline-block;
    font-size: 14px;
    margin-bottom: 1px;
    margin-right: 5px;
    max-width: 132px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    display: inline-block;
}

.header .break-btn .glyphicon{
    font-weight:normal;
}

.header .side-menu a
{
    color: rgb(115, 115, 115)
}

.header .side-menu{
    
    position: fixed;
    top: 40px;
    bottom: 0;
    left: 0;
    width: 250px;
    z-index: 701;
    background-color: #FFF;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: .436s;
    transition-duration: .436s;
    -webkit-transition-property: margin-left;
    transition-property: margin-left;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    cursor: pointer;

}

.header .current-menu{
    display: inline-block;
}

.header .nav{
    float: right;
    margin-right: 0;
}

.header .nav li{
    float: left;
}

.header .nav li .arrow-up 
{
     width: 0;   
    height: 0;   
    border-left: 5px solid transparent;  /* 左边框的宽 */  
    border-right: 5px solid transparent; /* 右边框的宽 */  
    border-bottom: 5px solid #fff; /* 下边框的长度|高,以及背景色 */  
    font-size: 0;  
    line-height: 0;  
    left: 17px;
    top: 43px;
    position: absolute;
    display:none;
}

.header .nav .profile-pic{
    color: #474d57;
    text-shadow: 0 1px 0 #fff;
    font-size: 14px;
    padding: 7px;
}

.header .nav .profile-pic img{
    
    width: 26px;
    height: 26px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.side-menu hr{
    padding:0px;
    margin:0px;
    border: 0;
    border-top: 1px solid #eeeeee;
}

.side-menu-true{
    margin-left: 0px;
}

.side-menu-false{
    //margin-left: -290px;
    margin-left: -205px;
}

.side-menu-item{
    display: block;
    height: 44px;
    padding: 14px 0 0 30px;
    text-decoration: none;
}

.side-menu-item:hover{
    background-color: #F5F5F5;
}

.side-menu .icon{
    -webkit-transition-duration: .436s;
    transition-duration: .436s;
    -webkit-transition-property: float;
    transition-property: float;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    margin-right: 5px;
}

.side-menu-false .icon{
    
    float: right;
    margin-right: 16px;

}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}


/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

#dashbord-view{
    -webkit-transition-duration: .436s;
    transition-duration: .436s;
    -webkit-transition-property: margin-left;
    transition-property: margin-left;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

.dashbord_normal{
    margin-left:250px;
    height:600px;
    position:relative;
    overflow:auto;
    margin-top: 5px;
}

.dashbord_big{
    margin-left:45px;
    height:600px;
    position:relative;
    overflow:auto;
    margin-top: 5px;
}

.dashbord-breadcrumb{
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 4px 15px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    border: 0.5px solid rgb(216, 216, 216);
}

#dashbord-view{
    background-color: #eeeeee;
    padding: 4px 15px;
}

.dashbord-page{
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    border: 0.5px solid rgb(216, 216, 216);
    margin: 0 auto;
    margin-bottom: 35px;
    padding: 30px;
    position: relative;
    top: 0;
    min-height:200px;
}

.dashbord-page h2{
    margin-top:0px;
    margin-bottom:20px;
    font-size: 16px;
    font-weight: bold;
}

.dashbord-stage{
    background-color:rgb(238, 238, 238);
    border:none;
    padding: 0px;
    clear:both;
}


.dashbord-stage .half-window{
    width:49%;
}

.dashbord-stage .dashbord-window{

    background-color: rgb(255, 255, 255);
    border: 0.5px solid rgb(216, 216, 216);
    margin: 10px 0px;

}

.dashbord-window .no-border{
    border:none;
}

.dashbord-window .title{
    padding: 15px 15px 0px;
    font-size:14px;
    font-weight:blod;
}

.dashbord-window .body{
    padding:30px;
    overflow:hidden;
}

.dashbord-window .no-padding{
    padding:0px;
}

.cloumn5{
    float:left;
    width:20%;
}

.box{
    text-align:center;
    cursor: pointer;
    border: 1px solid rgb(238, 238, 238);
    overflow: hidden;
    margin-left:-1px; 
    margin-bottom:-1px;
}

.box strong{
    
    text-align: center;
    font-size: 60px;
    line-height: 80px;
    font-family: Arial;
    color: rgb(31, 144, 200);
    display: block;
    padding: 20px 0 0;

}

.box:hover{
    background-color:rgb(245, 245, 245);
}

.box h5{
    
}

.box h5 span{
    margin:0px 4px;
}