$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

/** import base csss */
@import 'sass-bootstrap/lib/bootstrap';
@import 'table';
@import 'button';
@import 'form';
@import 'pagination';
@import 'alert';

/** import page css*/
@import "base";
@import "page";
@import "instance";
@import "modal";
@import "chart";

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.left{
    float:left;
}

.right{
    float:right;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    color: rgb(85, 85, 85);
}

a{
    cursor: default;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid #e5e5e5;
    -webkit-transform: translateZ(0);
    left: 0px;
    position: fixed;
    right: 0;
    top: 0;
    background-color: rgba(240,242,244,.85);
    z-index: 1000;
    height:$head_height;
    padding: 0px 0px;
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: $head_height;
        width: $head_height;
        padding: 0px 7px;
        color: rgb(0, 0, 0);
        display: inline-block;
        cursor: pointer;
        a{
            color: #fff;
        }
    }

    .break-btn {
        -webkit-transition: margin-left .15s linear;
        transition: margin-left .15s linear;
        -webkit-user-select: none;
        background-color: #fff;
        border-radius: 3px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
        margin: 7px 0 7px 30px;
        padding: 5px 5px 5px 8px;
        display: inline-block;
        font-weight:normal;
        line-height: 15px;
        cursor: pointer;

        .text{
            color: rgb(115, 115, 115);
            display: inline-block;
            font-size: 14px;
            margin-bottom: 1px;
            margin-right: 5px;
            max-width: 132px;
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: bottom;
            display: inline-block;
        }

        .glyphicon{
            font-weight:normal;
        }
    }

    .current-menu{
        display: inline-block;
    }

    .nav{
        float: right;
        margin-right: 0;

        li{
            float: left;
        }

        .profile-pic{
            color: #474d57;
            text-shadow: 0 1px 0 #fff;
            font-size: 14px;
            padding: 7px;
            img{
    
                width: 26px;
                height: 26px;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                -ms-border-radius: 4px;
                -o-border-radius: 4px;
                border-radius: 4px;
            }
        }
    }
}

.header .side-menu{
    
    position: fixed;
    top:$head_height;
    bottom: 0;
    left: 0;
    width: $side_width;
    z-index: 701;
    background-color: rgb(30,30,26);
    
    -webkit-transition-duration: .436s;
    transition-duration: .436s;
    -webkit-transition-property: margin-left;
    transition-property: margin-left;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    cursor: pointer;
    overflow: auto;
    h2{
        display: block;
        padding: 3px 15px;
        font-size: 14px;
        font-weight: bold;
        line-height: 20px;
        color: #fff;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        text-transform: uppercase;
    }
    a{
        text-decoration: none;
        color: #fff;
    }
    .icon{
        -webkit-transition-duration: .436s;
        transition-duration: .436s;
        -webkit-transition-property: float;
        transition-property: float;
        -webkit-transition-timing-function: ease-in-out;
        transition-timing-function: ease-in-out;
        margin-right: 5px;
    }
    .side-menu-item{
        display: block;
        height: 44px;
        padding: 14px 0 0 30px;
        text-decoration: none;
        &:hover{
            background-color: rgba(85, 88, 92, .85);
        }
        &.current{
            background-color: rgb(66, 133, 244);
            color: rgb(255, 255, 255);
        }
    }
    &.side-menu-true{
        margin-left: 0px;

    }
    &.side-menu-false{
        margin-left: -($side_width - $head_height);
        .icon{
            float: right;
            margin-right: 16px;
            font-size:16px;

        }
        h2{
            display:none;
        }
    }
}


/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}


/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

#dashbord-view{
    -webkit-transition-duration: .436s;
    transition-duration: .436s;
    -webkit-transition-property: margin-left;
    transition-property: margin-left;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

.dashbord_normal{
    margin-left:250px;
    height:600px;
    position:relative;
    overflow:auto;
    margin-top: 5px;
}

.dashbord_big{
    margin-left:45px;
    height:600px;
    position:relative;
    overflow:auto;
    margin-top: 5px;
}

.dashbord-breadcrumb{
    margin-top: 15px;
    padding-top: 20px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #eeeeee;
    a{
    font-size: 16px;
    }
}

#dashbord-view{
    background-color: #fff;
}

.dashbord-stage .half-window{
    width:49%;
}

.dashbord-stage .dashbord-window{

    border: 0.5px solid rgb(216, 216, 216);
    margin: 10px 0px;
    &.no-border{
        border:none;
    }
    .title{
        padding: 15px 15px 0px;
        font-size:14px;
        font-weight:blod;
    }
}

.dashbord-window .body{
    padding:30px;
    overflow:hidden;
}

.dashbord-window .no-padding{
    padding:0px;
}

.cloumn5{
    float:left;
    width:20%;
}

.box{
    text-align:center;
    cursor: pointer;
    border-right: 1px solid rgb(148, 172, 190);
    overflow: hidden;
    margin-left:-1px; 
    margin-bottom:-1px;
    &.last{
    border:none;
    }
}

.box strong{
    
    text-align: center;
    font-size: 60px;
    line-height: 90px;
    font-family: Arial;
    color: rgb(31, 144, 200);
    display: block;
    padding: 20px 0 0;

}

.box:hover{
    background-color:rgb(245, 245, 245);
}

.box h5{
    
}

.box h5 span{
    margin:0px 4px;
}