@media screen and (min-width: 768px) {

  .modal-dialog {
    width: 700px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .modal-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }

}