.dashbord-page{
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    border: 0.5px solid rgb(216, 216, 216);
    margin: 0 auto;
    margin-bottom: 35px;
    padding: 30px;
    position: relative;
    top: 0;
    min-height:200px;
    box-shadow: 0 0px 18px rgba(0, 0, 0, 0.2);
    &.no-shadown{
        box-shadow:none;
    }
    .list-view{
        
    }
    .item-view{
        display:none;
    }
    &.dashbord-detail-true{

        .list-view{
            width:60%;
            .auto-hide{
                display:none;
            }
        }
        .item-view{
            float:right;
            border:1px solid #ddd;
        }

    }
}

.dashbord-page h2{
    margin-top:0px;
    margin-bottom:20px;
    font-size: 16px;
    font-weight: bold;
}