.dashbord-page{
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 0 7px;
    border: 0.5px solid rgb(216, 216, 216);
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 35px;
    padding: 30px;
    position: relative;
    top: 0;
    min-height:200px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 10px;
    margin:10px;
   
    .list-view{
        
    }
    .item-view{
        display:none;
    }
    &.dashbord-detail-true{

        .list-view{
            width:60%;
            .auto-hide{
                display:none;
            }
        }
        .item-view{
            float:right;
            border:1px solid #ddd;
        }

    }
}

.dashbord-page h2{
    margin-top:0px;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px #fff solid;
    padding: 10px 10px 10px 10px;
    border: 1px solid rgb(221, 221, 221);
    background-color: whitesmoke;
}

.dashbord-stage{
    border:none;
    clear:both;
    padding: 0 30px;
}