doctype html
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7  
//if IE 7
  html.no-js.lt-ie9.lt-ie8  
//if IE 8
  html.no-js.lt-ie9  
// [if gt IE 8] <!
html.no-js
  // <![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    // Place favicon.ico and apple-touch-icon.png in the root directory
    // build:css({.tmp,app}) styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild
  body(ng-app='dashbordApp')
    //if lt IE 7
      p.browsehappy
        | You are using an
        strong outdated
        | browser&period; Please
        a(href='http://browsehappy.com/') upgrade your browser
        | to improve your experience&period;
    //if lt IE 9
      script(src='bower_components/es5-shim/es5-shim.js')
      script(src='bower_components/json3/lib/json3.min.js')
    // Add your site or application content here
    .mian-container(ng-controller='MainCtrl')
      .header
        .header-container
          h3#menu-toggle.text-muted(ng-click='toggleMenu()') Da
          .break-btn(ng-mouseenter='openMenu()', ng-click='toggleMenu()')
            .utb
              .Hde.Nua(guidedhelpid='appindicator_icon')
            .text(ng-bind='breadcrumbs.getLastLabel()')
            .glyphicon.glyphicon-chevron-down
          #side-menu.side-menu(class='side-menu-{{status.showSideMenu}}')
            a(ng-repeat='menu in menus', ng-click='select(menu)', ng-href='{{ menu.url }}', title='{{ menu.name }}')
              .side-menu-item(ng-class='{current: menu==currentMenu}')
                .icon(class='glyphicon.{{menu.icon}}')
                span(ng-bind='menu.name')
          ul.nav
            li
              a.btn-group
                .glyphicon.glyphicon-th(data-toggle='dropdown')
                .dropdown-menu
            li
              a.btn-group
                .glyphicon.glyphicon-bell(data-toggle='dropdown')
                .dropdown-menu
            li
              a.profile-pic
                img(src='/images/yeoman.png')
      #dashbord-view(ng-class='{dashbord_big: !status.showSideMenu, dashbord_normal: status.showSideMenu}')
        ol.dashbord-breadcrumb.breadcrumb
          li(ng-repeat='breadcrumb in breadcrumbs.getAll()')
            a(href='#{{breadcrumb.path}}', ng-hide='$last', ng-bind='breadcrumb.label')
            span(ng-show='$last', ng-bind='breadcrumb.label')
        div(ng-view='')
      .system_messages
        alert(ng-repeat='alert in notify.getAlerts()', type='alert.type', close='notify.closeAlert($index)') &lcub;&lcub;alert&period;msg&rcub;&rcub;
    // Google Analytics: change UA-XXXXX-X to be your site's ID
    //
       <script>
             (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
             (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
             m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
             })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
             ga('create', 'UA-XXXXX-X');
             ga('send', 'pageview');
          </script>
          
    script(src='bower_components/jquery/jquery.js')
    script(src='bower_components/angular/angular.js')
    // build:js scripts/plugins.js
    script(src='bower_components/sass-bootstrap/js/affix.js')
    script(src='bower_components/sass-bootstrap/js/alert.js')
    script(src='bower_components/sass-bootstrap/js/button.js')
    script(src='bower_components/sass-bootstrap/js/carousel.js')
    script(src='bower_components/sass-bootstrap/js/transition.js')
    script(src='bower_components/sass-bootstrap/js/collapse.js')
    script(src='bower_components/sass-bootstrap/js/dropdown.js')
    script(src='bower_components/sass-bootstrap/js/modal.js')
    script(src='bower_components/sass-bootstrap/js/scrollspy.js')
    script(src='bower_components/sass-bootstrap/js/tab.js')
    script(src='bower_components/sass-bootstrap/js/tooltip.js')
    script(src='bower_components/sass-bootstrap/js/popover.js')
    script(src='bower_components/jqplot/jquery.jqplot.js')
    script(src='bower_components/jqplot/plugins/jqplot.pieRenderer.min.js')
    script(src='bower_components/jqplot/plugins/jqplot.donutRenderer.min.js')
    script(src='bower_components/angular-ui-chart/src/chart.js')
    // endbuild
    // build:js scripts/modules.js
    script(src='bower_components/angular-resource/angular-resource.js')
    script(src='bower_components/angular-cookies/angular-cookies.js')
    script(src='bower_components/angular-sanitize/angular-sanitize.js')
    script(src='bower_components/angular-route/angular-route.js')
    // endbuild
    // build:js({.tmp,app}) scripts/scripts.js
    script(src='scripts/style.js')
    script(src='scripts/app.js')
    script(src='scripts/services/ui-bootstrap-tpls-0.7.0.js')
    script(src='scripts/services/breadcrumbs.js')
    script(src='scripts/services/mock.js')
    script(src='scripts/services/resources.js')
    script(src='scripts/controllers/main.js')
    script(src='scripts/controllers/home.js')
    script(src='scripts/controllers/instances.js')
    script(src='scripts/controllers/volumes.js')
    script(src='scripts/controllers/networks.js')
    script(src='scripts/controllers/images.js')
    script(src='scripts/controllers/help.js')
    script(src='scripts/controllers/settings.js')
    script(src='scripts/controllers/flavors.js')
    script(src='scripts/controllers/route.js')
    script(src='scripts/controllers/instance.js')
    script(src='scripts/controllers/nodes.js')
    script(src='scripts/services/respInterceptor.js')
    script(src='scripts/services/notify.js')
    script(src='scripts/filters/power.js')
    script(src='scripts/filters/formatByte.js')
    script(src='scripts/controllers/security-groups.js')
    // endbuild
