
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>Signin Template for Bootstrap</title>


    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="bower_components/sass-bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="styles/main.css">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <!--if lt IE 7
    p.browsehappy
      | You are using an
      strong outdated
      | browser&period; Please
      a(href='http://browsehappy.com/') upgrade your browser
      | to improve your experience&period;
    -->
    <!--if lt IE 9
    script(src='bower_components/es5-shim/es5-shim.js')
    script(src='bower_components/json3/lib/json3.min.js')
    -->
    <div id="login-container" class="container">

      <form class="form-signin" role="form" method="post">
        <h2 class="form-signin-heading">Cloud Dashbord</h2>
        <input name="email" type="text" class="form-control email" placeholder="邮箱地址" required autofocus>
        <input name="password" type="password" class="form-control password" placeholder="密码" required>
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> 记住我
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
      </form>
      <div class="surround">
          <img src="/images/ttround.png">
      </div>

    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
