<div class="dashbord-page dashbord-stage">
	<div class="dashbord-window no-padding no-border">
		<div class="body no-padding">
			<div class="box cloumn5">
				<strong>1</strong>
				<h5><span class=" glyphicon glyphicon-send"></span>虚拟机</h5>
			</div>
			<div class="box cloumn5">
				<strong>1</strong>
				<h5><span class=" glyphicon glyphicon-tasks"></span>存储卷</h5>
			</div>
			<div class="box cloumn5">
				<strong>1</strong>
				<h5><span class=" glyphicon glyphicon-tower"></span>网络</h5>
			</div>
			<div class="box cloumn5">
				<strong>1</strong>
				<h5><span class=" glyphicon glyphicon-picture"></span>镜像</h5>
			</div>
			<div class="box cloumn5">
				<strong>1</strong>
				<h5><span class="glyphicon glyphicon-hand-up"></span>更多信息</h5>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	
	<div class="dashbord-window half-window left">
		<div class="title">虚拟机配额</div>
		<div class="body"></div>
	</div>
	<div class="dashbord-window half-window right">
		<div class="title">存储配额</div>
		<div class="body"></div>
	</div>

	<div class="clearfix"></div>

	<div class="dashbord-window no-padding no-border">
		<div class="title">操作日志</div>
	</div>
</div>
