html
  body
    #home-dashbord.dashbord-page.dashbord-stage
      .dashbord-window
        .body.no-padding
          .box.cloumn5
            strong 1
            h5
              span.glyphicon.glyphicon-send
              | 虚拟机
          .box.cloumn5
            strong 1
            h5
              span.glyphicon.glyphicon-tasks
              | 存储卷
          .box.cloumn5
            strong 1
            h5
              span.glyphicon.glyphicon-tower
              | 网络
          .box.cloumn5
            strong 1
            h5
              span.glyphicon.glyphicon-picture
              | 镜像
          .box.cloumn5.last
            strong 1
            h5
              span.glyphicon.glyphicon-hand-up
              | 更多信息
          .clearfix

      div.panel-group(ng-repeat="pool in pools")
        div.panel.panel-default
          div.panel-heading
            h4.panel-title(ng-click="pool.open = !pool.open")
              a 资源池-{{ pool.name }}
              i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': pool.open, 'glyphicon-chevron-right': !pool.open}")
          div.panel-collapse.collapse.in
            div.chart-containers
              div.chart-container
                div.chart-title
                  | 存储卷
                div.chart(ui-chart='pool.volumeQuota', chart-options='myChartOpts')
              div.chart-container
                div.chart-title
                  | 虚拟机
                div.chart(ui-chart='pool.instanceQuota', chart-options='myChartOpts')
            div.chart-containers
              div.chart-container
                div.chart-title
                  | 虚拟CPU
                div.chart(ui-chart='pool.vcpuQuota', chart-options='myChartOpts')
              div.chart-container
                div.chart-title
                  | 虚拟内存
                div.chart(ui-chart='pool.memoryQuota', chart-options='myChartOpts')
      
