html
  body
    #home-dashbord.dashbord-page.dashbord-stage.no-shadown
      .dashbord-window.no-padding.no-border
        .body.no-padding
          .box.cloumn5
            strong 1
            h5
              span.glyphicon.glyphicon-send
              | 虚拟机
          .box.cloumn5
            strong 1
            h5
              span.glyphicon.glyphicon-tasks
              | 存储卷
          .box.cloumn5
            strong 1
            h5
              span.glyphicon.glyphicon-tower
              | 网络
          .box.cloumn5
            strong 1
            h5
              span.glyphicon.glyphicon-picture
              | 镜像
          .box.cloumn5
            strong 1
            h5
              span.glyphicon.glyphicon-hand-up
              | 更多信息
          .clearfix

      .dashbord-window.no-padding.no-border.no-shadow(ng-repeat="pool in pools")
        .title 
        
        .dashbord-window.half-window.right
          .title {{pool.name}}-存储使用情况
          .body
            div(ui-chart='pool.volumeQuota', chart-options='myChartOpts')

        .dashbord-window.half-window.left
          .title {{pool.name}}-虚拟机使用情况
          .body
            div(ui-chart='pool.instanceQuota', chart-options='myChartOpts')
        .clearfix
        
        .dashbord-window.half-window.right
          .title {{pool.name}}-vcpu使用情况
          .body
            div(ui-chart='pool.vcpuQuota', chart-options='myChartOpts')

        .dashbord-window.half-window.left
          .title {{pool.name}}-内存使用情况
          .body
            div(ui-chart='pool.memoryQuota', chart-options='myChartOpts')
        .clearfix
