<div class="dashbord-page">
  <h2>系统镜像</h2>
	<button type="button" class="btn btn-primary"><div class="glyphicon glyphicon-refresh"></div></button>
	<div class="btn-group">
    	<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    	  更多操作 <span class="caret"></span>
    	</button>
    	<ul class="dropdown-menu" role="menu">
    	  <li><a href="#">加载镜像</a></li>
    	  <li><a href="#">修改</a></li>
    	  <li><a href="#">删除</a></li>
    	</ul>
    </div>
	 <table class="table table-striped">
        <thead>
          <tr>
            <th><input type="checkbox"></th>
            <th>编号</th>
            <th>名称</th>
            <th>Size</th>
            <th>状态</th>
            <th>is_public</th>
            <th>protected</th>
            <th>required</th>
            <th>创建时间</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="image in filteredImages">
            <td><input type="checkbox"></td>
            <td>{{ $index }}</td>
            <td>{{ image.name }}</td>
            <td>{{ image.size | formatByte}}</td>
            <td><span class="label label-default">{{ image.status }}</span></td>
            <td>{{ image.is_public }}</td>
            <td>{{ image.protected }}</td>
            <td>min_disk:{{ image.min_disk }}, min_ram:{{image.min_ram}}</td>
            <td>{{ image.create_at | date:'MM/dd/yyyy @ h:mma' }}</td>
          </tr>
        </tbody>
    </table>

    <pagination 
        total-items="bigTotalItems()" 
        page="currentPage" 
        max-size="maxSize" 
        class="pagination-small" 
        boundary-links="true" 
        rotate="false" 
        num-pages="numPages"
        items-per-page="numPerPage"
       ></pagination>

</div>

