<div class="dashbord-page">
  <h2>系统镜像</h2>
	<button type="button" class="btn btn-primary"><div class="glyphicon glyphicon-refresh"></div></button>
	<div class="btn-group">
    	<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    	  更多操作 <span class="caret"></span>
    	</button>
    	<ul class="dropdown-menu" role="menu">
    	  <li><a href="#">加载镜像</a></li>
    	  <li><a href="#">修改</a></li>
    	  <li><a href="#">删除</a></li>
    	</ul>
    </div>
	 <table class="table table-striped">
        <thead>
          <tr>
            <th><input type="checkbox"></th>
            <th>编号</th>
            <th>名称</th>
            <th>状态</th>
            <th>创建时间</th>
          </tr>
        </thead>
    </table>
</div>

<div class="dashbord-page">
     <h2>自有</h2>
     <button type="button" class="btn btn-primary"><div class="glyphicon glyphicon-refresh"></div></button>
     <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          更多操作 <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">创建镜像</a></li>
          <li><a href="#">修改</a></li>
          <li><a href="#">删除</a></li>
        </ul>
    </div>
     <table class="table table-striped">
        <thead>
          <tr>
            <th><input type="checkbox"></th>
            <th>编号</th>
            <th>名称</th>
            <th>状态</th>
            <th>创建时间</th>
          </tr>
        </thead>
    </table>
</div>
