html
  body
    .dashbord-page
      .header-title
        h2 Instance-{{ vm.name }}
        .btn-group
          button.btn.btn-primary.btn-circle.btn-xs.dropdown-toggle(type="button", data-toggle="dropdown")
            span.caret
          ul.dropdown-menu(role="menu")
            li
              a(href="#") 启动
            li
              a(href="#") 暂停
            li
              a(href="#") 恢复
            li
              a(href="#") 挂起
            li
              a(href="#") 重启
            li
              a(href="#") 关机
            li
              a(ng-click="getVnc()") VNC
            li.divider
            li
              a(href="#") 删除
        .clearfix
      form.form-horizontal.instance-basic-form(role='form')
        fieldset
          legend 基本信息
          .form-group
            label.col-sm-2.control-label 编号
            .col-sm-10
              p.form-control-static(ng-bind='vm.id')
          .form-group
            label.col-sm-2.control-label 状态
            .col-sm-10
              p.form-control-static(ng-bind='vm.status')
          .form-group
            label.col-sm-2.control-label 创建时间
            .col-sm-10
              p.form-control-static(ng-bind='vm.created')
          .form-group
            label.col-sm-2.control-label 所在节点
            .col-sm-10
              p.form-control-static(ng-bind='vm["OS-EXT-SRV-ATTR:host"]')
          .form-group
              label.col-sm-2.control-label 网络
              .col-sm-10
                  p.form-control-static(ng-repeat='net in vm.networks')
                      {{ net }}

      .instance-basic-interview
        .screen
          {{ vm.name }} is {{ vm.status }}

      .clearfix

      hr
      h2 规格

      hr
      h2 村粗

      hr
      h2 快照

      hr
      h2 磁盘
