<div class="dashbord-page">
    <h2>实例</h2>
    <button type="button" class="btn btn-primary" ng-click="getInstances()">
      <div class="glyphicon glyphicon-refresh"></div>
    </button>
    <button type="button" class="btn btn-primary" ng-click="!openNewInstanceModal()">创建实例</button>
    <button type="button" class="btn btn-primary" ng-click="start()" ng-disabled="isNotSelectOne() || !isShutoff() || isActive() || isPaused()">启动</button>
    <button type="button" class="btn btn-primary" ng-click="pause()" ng-disabled="isNotSelectOne() || !isActive() || isPaused()">暂停</button>
    <button type="button" class="btn btn-primary" ng-click="unpause()" ng-disabled="isNotSelectOne() || !isPaused()">恢复</button>
    
    <button type="button" class="btn btn-primary" ng-click="stop()" ng-disabled="isNotSelectOne() || isShutoff() ">关机</button>
    <button type="button" class="btn btn-primary" ng-click="reboot()" ng-disabled="isNotSelectOne()">重启</button>
    <button type="button" class="btn btn-primary" ng-disabled="isNotSelect()" ng-click="remove()">销毁</button>
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" ng-disabled="isNotSelectOne() || !isActive()">
        更多操作 <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a ng-click="getVnc()">链接VNC</a></li>
        <li><a href="#">修改</a></li>
        <li><a href="#">挂载存储卷</a></li>
        <li><a href="#">更改配置</a></li>
        <li><a href="#">加入网络</a></li>
        <li><a href="#">创建快照</a></li>
        <li><a href="#">创建镜像</a></li>
        <li><a href="#">恢复</a></li>
        <li class="divider"></li>
        <li><a href="#">重置</a></li>
      </ul>
    </div>

  	<table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>编号</th>
              <th>名称</th>
              <th>大小</th>
              <th>状态</th>
              <th>创建时间</th>
              <th class="auto-hide">主机名</th>
              <th class="auto-hide">电源状态</th>
              <th class="auto-hide">网络</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="vm in filteredVms">
              <td><input type="checkbox" ng-model="vm.selected"></td>
            	<td>{{ $index }}</td>
            	<td><a href="#/instances/{{ vm.id }}">{{ vm.name }}</a></td>
            	<td>{{ vm.size }}</td>
            	<td><span class="label label-default">{{ vm.status }}</span></td>
            	<td>{{ vm.created | date:'MM/dd/yyyy @ h:mma' }}</td>
            	<td class="auto-hide">{{ vm['OS-EXT-SRV-ATTR:host'] }}</td>
            	<td class="auto-hide">{{ vm['OS-EXT-STS:power_state'] }}</td>
            	<td class="auto-hide">
            		<span ng-repeat="net in vm.networks.ads">
            			{{ net }}
            		</span>
            	</td>
            </tr>
          </tbody>
        </table>

        <pagination 
          total-items="bigTotalItems()" 
          page="currentPage" 
          max-size="maxSize" 
          class="pagination-small" 
          boundary-links="true" 
          rotate="false" 
          num-pages="numPages"
          items-per-page="numPerPage"
         ></pagination>
  
</div>

<!-- Modal -->
<script type="text/ng-template" id="newInstanceModal.html">        
    <div class="modal-header">
      <button type="button" class="close" ng-click="cancel()">&times;</button>
      <h4 class="modal-title" id="myModalLabel">创建虚拟机实例</h4>
    </div>
    <div class="modal-body modal-steps new_instance">
    	<div class="new_instance_config">
        <form novalidate name="form" class="form" role="form">
          <fieldset>
            <legend>选择映像</legend>
            <input ng-model="newInstance.image.id" required type="text" class="form-control" style="display:none">
            <pager 
              total-items="imagePager.totalItems()" 
              page="imagePager.currentPage"
              items-per-page="imagePager.perPage">
            </pager>
            <div class="radio-btn-select">
              <button ng-repeat="image in modelFilteredImage" type="button" class="btn " ng-model="newInstance.image" btn-radio="image">{{ image.name }}</button>
            </div>
          </fieldset>
          <fieldset>
            <legend>选择类型</legend>
            <input ng-model="newInstance.flavor.id" required type="text" class="form-control" style="display:none">
            <pager 
              total-items="flavorPager.totalItems()" 
              page="flavorPager.currentPage"
              items-per-page="flavorPager.perPage">
            </pager>
            <div class="radio-btn-select">
            <button ng-repeat="flavor in modelFilteredFlavor" type="button" class="btn " ng-model="newInstance.flavor" btn-radio="flavor">{{ flavor.name }}</button>
            </button>
          </fieldset>
           <fieldset>
            <legend>设置网络-{{ portPager.modelPortCurrentPage }}</legend>
            <input ng-model="newInstance.port.id" required type="text" class="form-control" style="display:none">
            
            <pager 
              total-items="portPager.totalItems()" 
              page="portPager.currentPage"
              items-per-page="portPager.perPage">
            </pager>
            
            <div class="radio-btn-select">
              <button ng-repeat="port in modelFilteredPorts" type="button" class="btn " ng-model="newInstance.port" btn-radio="port">{{ port.name }} &nbsp; {{ port.mac_address }}</button>
              </button>
            </div>
          </fieldset>
          <fieldset>
            <legend>基本设置</legend>
            <div class="form-group">
            <label>名称</label>
            <input ng-model="newInstance.name" required type="text" class="form-control">
            </div>
          </fieldset>
          
        </form>
      </div>
      <div class="new_instance_detail">
        <form>
          <fieldset>
            <legend>配置详情</legend>
            <table class="table table-bordered">
              <tr>
                <th style="width:50px">组件</th><th>参数</th>
              </tr>
              <tr>
                <td>名称</td>
                <td>{{ newInstance.name }}</td>
              </tr>
              <tr>
                <td>映像</td><td>{{ newInstance.image.name }}</td>
              </tr>
              <tr>
                <td>类型</td><td>{{ newInstance.flavor.name }}</td>
              </tr>
              <tr>
                <td>CPU</td><td>{{ newInstance.flavor.vcpus }}</td>
              </tr>
              <tr>
                <td>内存</td><td>{{ newInstance.flavor.ram }}</td>
              </tr>
              <tr>
                <td>硬盘</td><td>{{ newInstance.flavor.disk }}</td>
              </tr>
              <tr>
                <td>网络</td><td>{{ newInstance.port.mac_address }}</td>
              </tr>
            </table>
          </fieldset>
        </form>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Close</button>
      <button class="btn btn-primary" ng-disabled="form.$invalid" ng-click="ok(newInstance)">Save</button>
    </div>
</script>
