html
  body
    .dashbord-page
      h2 Network
      button.btn.btn-primary(type='button', ng-click='getNetworks()')
        .glyphicon.glyphicon-refresh
      .btn-group
        button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
          | &#26356;&#22810;&#25805;&#20316;
          span.caret
        ul.dropdown-menu(role='menu')
          li
            a(href='#') &#21024;&#38500;
      table.table.table-striped
        thead
          tr
            th
              input(type='checkbox')
            th &#32534;&#21495;
            th &#21517;&#31216;
            th &#29366;&#24577;
            th vlan&UnderBar;id
            th shared
            th &#23376;&#32593;
        tbody
          tr(ng-repeat='network in filteredNetworks')
            td
              input(type='checkbox')
            td &lcub;&lcub; &dollar;index &rcub;&rcub;
            td &lcub;&lcub; network&period;name &rcub;&rcub;
            td
              span.label.label-default &lcub;&lcub; network&period;status &rcub;&rcub;
            td &lcub;&lcub; network&period;vlan&UnderBar;id &rcub;&rcub;
            td
              span.label.label-default &lcub;&lcub; network&period;shared &rcub;&rcub;
            td
              span(ng-repeat='subnet in network.subnets')
                | &lcub;&lcub; subnet &rcub;&rcub;
      pagination.pagination-small(total-items='networkBigTotalItems()', page='networkCurrentPage', max-size='networkMaxSize', boundary-links='true', rotate='false', num-pages='networkNumPages', items-per-page='networkNumPerPage')
    .dashbord-page
      h2 Subnet
      button.btn.btn-primary(type='button')
        .glyphicon.glyphicon-refresh
      .btn-group
        button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
          | &#26356;&#22810;&#25805;&#20316;
          span.caret
        ul.dropdown-menu(role='menu')
          li
            a(href='#') &#21024;&#38500;
      table.table.table-striped
        thead
          tr
            th
              input(type='checkbox')
            th &#32534;&#21495;
            th &#21517;&#31216;
            th gateway&UnderBar;ip
            th ip&UnderBar;version
            th enable&UnderBar;dhcp
            th cidr
            th host&UnderBar;routes
            th allocation&UnderBar;pools
            th dns&UnderBar;nameservers
        tbody
          tr(ng-repeat='subnet in filteredSubnets')
            td
              input(type='checkbox')
            td &lcub;&lcub; &dollar;index &rcub;&rcub;
            td &lcub;&lcub; subnet&period;name &rcub;&rcub;
            td &lcub;&lcub; subnet&period;gateway&UnderBar;ip &rcub;&rcub;
            td &lcub;&lcub; subnet&period;ip&UnderBar;version &rcub;&rcub;
            td &lcub;&lcub; subnet&period;enable&UnderBar;dhcp &rcub;&rcub;
            td &lcub;&lcub; subnet&period;cidr &rcub;&rcub;
            td &lcub;&lcub; subnet&period;host&UnderBar;routes &rcub;&rcub;
            td &lcub;&lcub; subnet&period;allocation&UnderBar;pools&period;start &rcub;&rcub;~&lcub;&lcub; subnet&period;allocation&UnderBar;pools&period;start &rcub;&rcub;
            td &lcub;&lcub; subnet&period;dns&UnderBar;nameservers &rcub;&rcub;
      pagination.pagination-small(total-items='subnetBigTotalItems()', page='subnetCurrentPage', max-size='subnetMaxSize', boundary-links='true', rotate='false', num-pages='subnetNumPages', items-per-page='subnetNumPerPage')
    .dashbord-page
      h2 &#32593;&#21345;
      button.btn.btn-primary(type='button')
        .glyphicon.glyphicon-refresh
      .btn-group
        button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
          | &#26356;&#22810;&#25805;&#20316;
          span.caret
        ul.dropdown-menu(role='menu')
          li
            a(href='#') &#21024;&#38500;
      table.table.table-striped
        thead
          tr
            th
              input(type='checkbox')
            th &#32534;&#21495;
            th &#21517;&#31216;
            th &#29366;&#24577;
            th attached&UnderBar;phyport
            th compute&UnderBar;node
            th device&UnderBar;owner
            th mac&UnderBar;address
            th fixed&UnderBar;ips
        tbody
          tr(ng-repeat='port in filteredPorts')
            td
              input(type='checkbox')
            td &lcub;&lcub; &dollar;index &rcub;&rcub;
            td &lcub;&lcub; port&period;name &rcub;&rcub;
            td &lcub;&lcub; port&period;status &rcub;&rcub;
            td &lcub;&lcub; port&period;attached&UnderBar;phyport &rcub;&rcub;
            td &lcub;&lcub; port&period;compute&UnderBar;node &rcub;&rcub;
            td &lcub;&lcub; port&period;device&UnderBar;owner &rcub;&rcub;
            td &lcub;&lcub; port&period;mac&UnderBar;address &rcub;&rcub;
            td
              span(ng-repeat='fixed_ip in port.fixed_ips')
                | &lcub;&lcub; fixed&UnderBar;ip&period;ip&UnderBar;address &rcub;&rcub;
      pagination.pagination-small(total-items='portBigTotalItems()', page='portCurrentPage', max-size='portMaxSize', boundary-links='true', rotate='false', num-pages='portNumPages', items-per-page='portNumPerPage')
    .dashbord-page
      h2 &#31471;&#21475;&#26144;&#23556;
      button.btn.btn-primary(type='button')
        .glyphicon.glyphicon-refresh
      .btn-group
        button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
          | &#26356;&#22810;&#25805;&#20316;
          span.caret
        ul.dropdown-menu(role='menu')
          li
            a(href='#') &#21024;&#38500;
      table.table.table-striped
        thead
          tr
            th
              input(type='checkbox')
            th &#32534;&#21495;
            th &#21517;&#31216;
            th &#29366;&#24577;
            th &#21019;&#24314;&#26102;&#38388;
        tbody
          tr(ng-repeat='nat in filteredNats')
            td
              input(type='checkbox')
            td &lcub;&lcub; &dollar;index &rcub;&rcub;
            td &lcub;&lcub; nat&period;name &rcub;&rcub;
      pagination.pagination-small(total-items='natBigTotalItems()', page='natCurrentPage', max-size='natMaxSize', boundary-links='true', rotate='false', num-pages='natNumPages', items-per-page='natNumPerPage')
