<div class="dashbord-page">
    <h2>Network</h2>
  <button type="button" class="btn btn-primary" ng-click="getNetworks()">
    <div class="glyphicon glyphicon-refresh"></div>
  </button>
  <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        更多操作 <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">删除</a></li>
      </ul>
    </div>
    <table class="table table-striped">
        <thead>
          <tr>
            <th><input type="checkbox"></th>
            <th>编号</th>
            <th>名称</th>
            <th>状态</th>
            <th>vlan_id</th>
            <th>shared</th>
            <th>子网</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="network in filteredNetworks">
            <td><input type="checkbox"></td>
            <td>{{ $index }}</td>
            <td>{{ network.name }}</td>
            <td><span class="label label-default">{{ network.status }}</span></td>
            <td>{{ network.vlan_id }}</td>
            <td><span class="label label-default">{{ network.shared }}</span></td>
            <td>
              <span ng-repeat="subnet in network.subnets">
                {{ subnet }}
              </span>
            </td>
          </tr>
        </tbody>
        
    </table>
    <pagination 
          total-items="networkBigTotalItems()" 
          page="networkCurrentPage" 
          max-size="networkMaxSize" 
          class="pagination-small" 
          boundary-links="true" 
          rotate="false" 
          num-pages="networkNumPages"
          items-per-page="networkNumPerPage"
         ></pagination>
</div>

<div class="dashbord-page">
    <h2>Subnet</h2>
	<button type="button" class="btn btn-primary"><div class="glyphicon glyphicon-refresh"></div></button>
	<div class="btn-group">
    	<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    	  更多操作 <span class="caret"></span>
    	</button>
    	<ul class="dropdown-menu" role="menu">
    	  <li><a href="#">删除</a></li>
   		</ul>
   	</div>
   	<table class="table table-striped">
        <thead>
          <tr>
            <th><input type="checkbox"></th>
            <th>编号</th>
            <th>名称</th>
            <th>gateway_ip</th>
            <th>ip_version</th>
            <th>enable_dhcp</th>
            
            <th>cidr</th>
            <th>host_routes</th>
            <th>allocation_pools</th>
            <th>dns_nameservers</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="subnet in filteredSubnets">
             <td><input type="checkbox"></td>
             <td>{{ $index }}</td>
             <td>{{ subnet.name }}</td>
             <td>{{ subnet.gateway_ip }}</td>
             <td>{{ subnet.ip_version }}</td>
             <td>{{ subnet.enable_dhcp }}</td>
             
             <td>{{ subnet.cidr }}</td>
             <td>{{ subnet.host_routes }}</td>
             <td>{{ subnet.allocation_pools.start }}~{{ subnet.allocation_pools.start }}</td>
             <td>{{ subnet.dns_nameservers }}</td>
          </tr>
        </tbody>
    </table>
    <pagination 
          total-items="subnetBigTotalItems()" 
          page="subnetCurrentPage" 
          max-size="subnetMaxSize" 
          class="pagination-small" 
          boundary-links="true" 
          rotate="false" 
          num-pages="subnetNumPages"
          items-per-page="subnetNumPerPage"
         ></pagination>
</div>

<div class="dashbord-page">
    <h2>网卡</h2>
  <button type="button" class="btn btn-primary"><div class="glyphicon glyphicon-refresh"></div></button>
  <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        更多操作 <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">删除</a></li>
      </ul>
    </div>
    <table class="table table-striped">
        <thead>
          <tr>
            <th><input type="checkbox"></th>
            <th>编号</th>
            <th>名称</th>
            <th>状态</th>
            <th>attached_phyport</th>
            <th>compute_node</th>
            <th>device_owner</th>
            <th>mac_address</th>
            <th>fixed_ips</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="port in filteredPorts">
             <td><input type="checkbox"></td>
             <td>{{ $index }}</td>
             <td>{{ port.name }}</td>
             <td>{{ port.status }}</td>
             <td>{{ port.attached_phyport }}</td>
             <td>{{ port.compute_node }}</td>
             <td>{{ port.device_owner }}</td>
             <td>{{ port.mac_address }}</td>
             <td>
                <span ng-repeat="fixed_ip in port.fixed_ips">
                  {{ fixed_ip.ip_address }}
                </span>
              </td>
          </tr>
        </tbody>
    </table>
    <pagination 
          total-items="portBigTotalItems()" 
          page="portCurrentPage" 
          max-size="portMaxSize" 
          class="pagination-small" 
          boundary-links="true" 
          rotate="false" 
          num-pages="portNumPages"
          items-per-page="portNumPerPage"
         ></pagination>
</div>

<div class="dashbord-page">
    <h2>端口映射</h2>
  <button type="button" class="btn btn-primary"><div class="glyphicon glyphicon-refresh"></div></button>
  <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        更多操作 <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">删除</a></li>
      </ul>
    </div>
    <table class="table table-striped">
        <thead>
          <tr>
            <th><input type="checkbox"></th>
            <th>编号</th>
            <th>名称</th>
            <th>状态</th>
            <th>创建时间</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="nat in filteredNats">
             <td><input type="checkbox"></td>
             <td>{{ $index }}</td>
             <td>{{ nat.name }}</td>
          </tr>
        </tbody>
         
    </table>
    <pagination 
          total-items="natBigTotalItems()" 
          page="natCurrentPage" 
          max-size="natMaxSize" 
          class="pagination-small" 
          boundary-links="true" 
          rotate="false" 
          num-pages="natNumPages"
          items-per-page="natNumPerPage"
         ></pagination>
</div>

<div class="dashbord-page">
    <h2>安全组</h2>
  <button type="button" class="btn btn-primary"><div class="glyphicon glyphicon-refresh"></div></button>
  <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        更多操作 <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">删除</a></li>
      </ul>
    </div>
    <table class="table table-striped">
        <thead>
          <tr>
            <th><input type="checkbox"></th>
            <th>编号</th>
            <th>名称</th>
            <th>description</th>
            <th>security_group_rules</th>
            <th>network_id</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="securityGroup in filteredSecurityGroups">
             <td><input type="checkbox"></td>
             <td>{{ $index }}</td>
             <td>{{ securityGroup.name }}</td>
             <td>{{ securityGroup.description }}</td>
             <td>{{ securityGroup.security_group_rules }}</td>
             <td>{{ securityGroup.metadata.network_id }}</td>
          </tr>
        </tbody>
    </table>
     <pagination 
          total-items="securityGroupBigTotalItems()" 
          page="securityGroupCurrentPage" 
          max-size="securityGroupMaxSize" 
          class="pagination-small" 
          boundary-links="true" 
          rotate="false" 
          num-pages="securityGroupNumPages"
          items-per-page="securityGroupNumPerPage"
         ></pagination>
</div>




