html
  body
    .modal-header
      button.close(type='button', ng-click='cancel()') &times;
      h4#myModalLabel.modal-title &#21019;&#24314;&#34394;&#25311;&#26426;&#23454;&#20363;
    .modal-body.modal-steps.new_instance
      .new_instance_config
        form.form(novalidate='', name='form', role='form')
          fieldset
            legend &#36873;&#25321;&#26144;&#20687;
            input.form-control(type='text', ng-model='newInstance.image.id', required='', style='display:none')
            pager(total-items='imagePager.totalItems()', page='imagePager.currentPage', items-per-page='imagePager.perPage')
            .radio-btn-select
              button.btn(ng-repeat='image in modelFilteredImage', type='button', ng-model='newInstance.image', btn-radio='image') &lcub;&lcub; image&period;name &rcub;&rcub;
          fieldset
            legend &#36873;&#25321;&#31867;&#22411;
            input.form-control(type='text', ng-model='newInstance.flavor.id', required='', style='display:none')
            pager(total-items='flavorPager.totalItems()', page='flavorPager.currentPage', items-per-page='flavorPager.perPage')
            .radio-btn-select
              button.btn(ng-repeat='flavor in modelFilteredFlavor', type='button', ng-model='newInstance.flavor', btn-radio='flavor') &lcub;&lcub; flavor&period;name &rcub;&rcub;
          fieldset
            legend &#35774;&#32622;&#32593;&#32476;-&lcub;&lcub; portPager&period;modelPortCurrentPage &rcub;&rcub;
            input.form-control(type='text', ng-model='newInstance.port.id', required='', style='display:none')
            pager(total-items='portPager.totalItems()', page='portPager.currentPage', items-per-page='portPager.perPage')
            .radio-btn-select
              button.btn(ng-repeat='port in modelFilteredPorts', type='button', ng-model='newInstance.port', btn-radio='port') &lcub;&lcub; port&period;name &rcub;&rcub; &NonBreakingSpace; &lcub;&lcub; port&period;mac&UnderBar;address &rcub;&rcub;
          fieldset
            legend &#22522;&#26412;&#35774;&#32622;
            .form-group
              label &#21517;&#31216;
              input.form-control(type='text', ng-model='newInstance.name', required='')
      .new_instance_detail
        form
          fieldset
            legend &#37197;&#32622;&#35814;&#24773;
            table.table.table-bordered
              tr
                th(style='width:50px') &#32452;&#20214;
                th &#21442;&#25968;
              tr
                td &#21517;&#31216;
                td &lcub;&lcub; newInstance&period;name &rcub;&rcub;
              tr
                td &#26144;&#20687;
                td &lcub;&lcub; newInstance&period;image&period;name &rcub;&rcub;
              tr
                td &#31867;&#22411;
                td &lcub;&lcub; newInstance&period;flavor&period;name &rcub;&rcub;
              tr
                td CPU
                td &lcub;&lcub; newInstance&period;flavor&period;vcpus &rcub;&rcub;
              tr
                td &#20869;&#23384;
                td &lcub;&lcub; newInstance&period;flavor&period;ram &rcub;&rcub;
              tr
                td &#30828;&#30424;
                td &lcub;&lcub; newInstance&period;flavor&period;disk &rcub;&rcub;
              tr
                td &#32593;&#32476;
                td &lcub;&lcub; newInstance&period;port&period;mac&UnderBar;address &rcub;&rcub;
      .clearfix
    .modal-footer
      button.btn.btn-default(type='button', data-dismiss='modal', ng-click='cancel()') Close
      button.btn.btn-primary(ng-disabled='form.$invalid', ng-click='ok(newInstance)') Save
