html
  body
    .dashbord-page
      h2 计算节点
      button.btn.btn-primary(type="button") 
        .glyphicon.glyphicon-refresh
      table.table.table-striped
        thead
          tr
            th 
            th #
            th 名称
            th 域名称
            th 创建时间
        tbody
          tr(ng-repeat="node in nodes")
            td {{ index }}
            td {{ node.name }}
            td {{ node.hostname }}
            td {{ node.created_at }}
