html
  body
    .dashbord-page
      h2 资源池
      button.btn.btn-primary(type="button") 
        .glyphicon.glyphicon-refresh
      table.table.table-striped
        thead
          tr
            th 
            th #
            th 名称
            th 描述
            th 类型
            th 配额
        tbody
          tr(ng-repeat="pool in pools")
            td
              input(type="checkbox")
            td {{ $index }}
            td {{ pool.name }}
            td {{ pool.description }}
            td {{ pool.type }}
            td 
              | {{ pool.quota.instances }} 
              | {{ pool.quota.memory }}
              | {{ pool.quota.share_storage }}
              | {{ pool.quota.used_instances }}
              | {{ pool.quota.used_memory }}
              | {{ pool.quota.used_share_storage }}
              | {{ pool.quota.used_vcups }}
              | {{ pool.quota.used_vlan }}
              | {{ pool.quota.vcpus }}
              | {{ pool.quota.vlan }}

