html
  body
    .dashbord-page
      h2 &#34394;&#25311;&#36335;&#30001;&#22120;
      button.btn.btn-primary(type='button')
        .glyphicon.glyphicon-refresh
      .btn-group
        button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
          | &#26356;&#22810;&#25805;&#20316;
          span.caret
        ul.dropdown-menu(role='menu')
          li
            a(href='#') &#21024;&#38500;
      table.table.table-striped
        thead
          tr
            th
              input(type='checkbox')
            th &#32534;&#21495;
            th &#21517;&#31216;
            th &#29366;&#24577;
            th &#21019;&#24314;&#26102;&#38388;
        tbody
    .dashbord-page
      h2 &#36127;&#36733;&#22343;&#34913;&#22120;
      button.btn.btn-primary(type='button')
        .glyphicon.glyphicon-refresh
      .btn-group
        button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
          | &#26356;&#22810;&#25805;&#20316;
          span.caret
        ul.dropdown-menu(role='menu')
          li
            a(href='#') &#21024;&#38500;
      table.table.table-striped
        thead
          tr
            th
              input(type='checkbox')
            th &#32534;&#21495;
            th &#21517;&#31216;
            th &#29366;&#24577;
            th &#21019;&#24314;&#26102;&#38388;
        tbody
    .dashbord-page
      h2 &#34394;&#25311;IP
      button.btn.btn-primary(type='button')
        .glyphicon.glyphicon-refresh
      .btn-group
        button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
          | &#26356;&#22810;&#25805;&#20316;
          span.caret
        ul.dropdown-menu(role='menu')
          li
            a(href='#') &#21024;&#38500;
      table.table.table-striped
        thead
          tr
            th
              input(type='checkbox')
            th &#32534;&#21495;
            th &#21517;&#31216;
            th &#29366;&#24577;
            th &#21019;&#24314;&#26102;&#38388;
