<div class="dashbord-page">
	<form>
		<fieldset>
			<legend>
				Vms Configuration
			</legend>
			<div class="form-group">
			    <label for="inputRootUrl">Vms address</label>
			    <input type="url" class="form-control" id="inputRootUrl" placeholder="Enter http://localhost:8889">
			  </div>
		</fieldset>
		<fieldset>
		<legend>
			Vms Authortize
		</legend>
		<div class="form-group">
	    	<label for="inputAppKey">App Key</label>
	    	<input type="url" class="form-control" id="inputAppKey" placeholder="Enter The Application Key">
	  	</div>
	  	<div class="form-group">
	    	<label for="inputAppSecret">App Secret</label>
	    	<input type="url" class="form-control" id="inputAppSecret" placeholder="Enter The Application Secret">
	  	</div>
	  </fieldset>
	  <button type="submit" class="btn btn-default">Save</button>
	 </form>
</div>