<div class="dashbord-page">
  <h2>设置</h2>
	<form>
		<fieldset>
			<legend>
				基本设置
			</legend>
			<div class="form-group">
			    <label for="inputRootUrl">vms访问地址</label>
			    <input type="text" class="form-control" id="inputRootUrl" placeholder="Enter http://localhost:8889" ng-model="rootUrl">
			  </div>
		</fieldset>
		<fieldset>
		<legend>
			认证设置
		</legend>
		<div class="form-group">
	    	<label for="inputAppKey">应用标识</label>
	    	<input type="text" class="form-control" id="inputAppKey" placeholder="Enter The Application Key"
	    	ng-model="appKey">
	  	</div>
	  	<div class="form-group">
	    	<label for="inputAppSecret">密钥</label>
	    	<input type="text" class="form-control" id="inputAppSecret" placeholder="Enter The Application Secret" ng-model="appSecret">
	  	</div>
	  	<div class="form-group">
	  		<label for="inputAccessToken">访问令牌</label>
	  		<input type="text" class="form-control" id="inputAccessToken" ng-model="accessToken" disabled/>
	  	</div>
	  </fieldset>
	  <button ng-click="saveSettings()" class="btn btn-default">Save</button>
	 </form>
</div>
