<div class="dashbord-page">
  <h2>存储卷</h2>
  <button type="button" class="btn btn-primary"><div class="glyphicon glyphicon-refresh"></div></button>
  <button type="button" class="btn btn-primary">创建存储卷</button>
  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      更多操作 <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">挂载存储卷</a></li>
      <li><a href="#">卸载存储卷</a></li>
      <li><a href="#">修改</a></li>
      <li class="divider"></li>
      <li><a href="#">删除</a></li>
    </ul>
  </div>
	<table class="table table-striped">
        <thead>
          <tr>
            <th><input type="checkbox"></th>
            <th>#</th>
            <th>名称</th>
            <th>容量</th>
            <th>状态</th>
            <th>创建时间</th>
            <th>区域</th>
            <th>挂载</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="volume in volumes.data">
            <td><input type="checkbox"></td>
          	<td>{{ $index }}</td>
          	<td>{{ volume.display_name }}</td>
          	<td>{{ volume.size }}</td>
          	<td><span class="label label-default">{{ volume.status }}</span></td>
          	<td>{{ volume.created_at | date:'MM/dd/yyyy @ h:mma' }}</td>
          	<td>{{ volume.availability_zone }}</td>
          	<td>
          		<span class="label label-info" ng-repeat="attm in volume.attachments">
          			attm
          		</span>
          	</td>
          </tr>
        </tbody>
      </table>
</div>
