html
  body
    .dashbord-page
      h2 存储卷
      button.btn.btn-primary(type='button', ng-click='startSync()')
        .glyphicon.glyphicon-refresh
      button.btn.btn-primary(type='button', ng-click='openCreateModal()') 创建存储卷
      button.btn.btn-primary(type='button', ng-disabled='isNotSelectAnyOne()', ng-click='remove()') 删除
      .btn-group
        button.btn.btn-primary.dropdown-toggle(type='button', ng-disabled='!isSelectOnlyOne()', data-toggle='dropdown')
          | 更多操作
          span.caret
        ul.dropdown-menu(role='menu')
          li
            a(href='#') &#20462;&#25913;
      table.table.table-striped
        thead
          tr
            th
            th #
            th 名称
            th 容量
            th 状态
            th 创建时间
            th 区域
            th 挂载
        tbody
          tr(ng-repeat='volume in filteredVolumes')
            td
              input(type='checkbox', ng-model='volume.selected')
            td {{ index }}
            td &lcub;&lcub; volume.display_name &rcub;&rcub;
            td &lcub;&lcub; volume.size &rcub;&rcub;
            td
              span.label.label-default &lcub;&lcub; volume.status &rcub;&rcub;
            td &lcub;&lcub; volume.created_at &VerticalLine; date&colon;&apos;MM&sol;dd&sol;yyyy &commat; h&colon;mma&apos; &rcub;&rcub;
            td &lcub;&lcub; volume.availability_zone &rcub;&rcub;
            td
              span.label.label-info(ng-repeat='attm in volume.attachments')
                | attm
      pagination.pagination-small(total-items='bigTotalItems()', page='currentPage', max-size='maxSize', boundary-links='true', rotate='false', num-pages='numPages', items-per-page='numPerPage')
    // Modal
    script#myModalContent.html(type='text/ng-template')
      <div class="modal-header">
      <button type="button" class="close" ng-click="cancel()">&times;</button>
      <h4 class="modal-title" id="myModalLabel">创建存储卷</h4>
      </div>
      <div class="modal-body">
      <form novalidate name="form" class="form" role="form">
      <div class="form-group">
      <label for="volumeInputName">Name</label>
      <input ng-model="newVolume.display_name" required type="text" class="form-control" placeholder="Enter Volume Name">
      <p class="help-block">The Name of the volume.</p>
      </div>
      <div class="form-group">
      <label for="volumeInputSize">Size</label>
      <input type="number" ng-model="newVolume.size" required min="1" max="10" integer class="form-control" placeholder="Volume Size">
      <p class="help-block">The Size of the volume.</p>
      </div>
      <div class="form-group">
      <label for="volumeInputDescription">Description</label>
      <input ng-model="newVolume.display_description" required type="text" class="form-control" placeholder="Volume Description">
      </div>
      </form>
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Close</button>
      <button class="btn btn-primary" ng-disabled="form.$invalid" ng-click="ok(newVolume)">Save</button>
      </div>
